body {
    background-color: white;
}
.container {
    padding: 0 45px 45px;
    padding-bottom: 0;
    max-width: 1490px;
    margin: 0 auto;
}
.header {
    margin: 0;
    margin-bottom: 45px;
}
.swiper-button-prev, .swiper-button-next {
    color: var(--accent);
}
.swiper-pagination-bullet {
    background-color: var(--accent);
}
.sitemap {
    display: flex;
    flex-direction: column;
    row-gap: 45px;
}
.sitemap__row {
    gap: 30px;
}
.sitemap__row_banner {
    display: flex;
    width: 100%;
}
.sitemap__row_buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 70px;
}
.sitemap-item {
    display: flex;
    align-items: flex-end;
    padding: 20px 30px;
    font-size: 36px;
    font-weight: 700;
    border-radius: 40px;
    flex: 1;
    height: 250px;
    min-width: 270px;
    background-repeat: no-repeat;
    background-position: 90% center;
    background-size: auto 60%;
    cursor: pointer;
    transition: box-shadow .2s;
}
.sitemap-item_main {
    height: 450px;
    background-position: center;
    background-size: cover;
    cursor: default;
}
.sitemap-item.red {
    background-color: var(--accent);
}
.sitemap-item.red:hover {
    box-shadow: 0 0 32px var(--accent);
}
.sitemap-item.yellow {
    background-color: #F6FF94;
}
.sitemap-item.yellow:hover {
    box-shadow: 0 0 32px #F6FF94;
}
.sitemap-item.white-blue {
    background-color: #94F9FF;
}
.sitemap-item.white-blue:hover {
    box-shadow: 0 0 32px #94F9FF;
}
.sitemap-item.purple {
    background-color: #C394FF;
}
.sitemap-item.purple:hover {
    box-shadow: 0 0 32px #C394FF;
}
.sitemap-item.orange {
    background-color: #FFC194;
}
.sitemap-item.orange:hover {
    box-shadow: 0 0 32px #FFC194;
}
.sitemmap-item__name {
    font-size: 24px;
}
.sitemap-item_main .sitemmap-item__name {
    color: white;
}
.section__title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
}
.benefits__block {
    display: grid;
    grid-template-areas: "a a a a a a a b b b b b"
                         "c c c c c c d d d d d d";
    gap: 30px;
    font-size: 16;
}
.benefit {
    border-radius: 40px;
    border: 1px solid var(--accent);
    background-color: var(--accent);
    padding: 30px;
}
.benefit__accent {
    font-weight: 700;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.benefit:nth-child(1) {
    background-color: var(--accent);
    font-weight: 500;
    grid-area: a;
}
.benefit:nth-child(2) {
    grid-area: b;
}
.benefit:nth-child(3) {
    grid-area: c;
}
.benefit:nth-child(4) {
    grid-area: d;
}
.footer {
    margin: 0 45px;
}
@media screen and (max-width: 1330px) {
    .sitemap__row_buttons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 1280px) {
    .sitemap {
        row-gap: 30px;
    }
    .sitemap__row {
        gap: 30px;
    }
}
@media screen and (max-width: 1150px) {
    .benefits__block {
        font-size: 14px;
    }
}
@media screen and (max-width: 1060px) {
    .sitemap {
        height: 80dvh;
    }
    .sitemap__row {
        flex: 1;
    }
    .sitemap-item {
        height: 100%;
    }
}
@media screen and (max-width: 1010px) {
    .benefits__block {
        font-size: 10px;
    }
}
@media screen and (max-width: 870px) {
    .sitemap {
        row-gap: 15px;
        height: calc(100dvh - 150px);
    }
    .sitemap__row {
        gap: 15px;
        flex-direction: column;
    }
    .sitemap__row_banner {
        flex: 2.5;
    }
    .sitemap__row_buttons {
        flex: 3;
        margin-bottom: 40px;
    }
    .sitemap__row_buttons .sitemap-item {
        min-width: auto;
    }
    .sitemap-item_main {
        height: 100%;
    }
    .section__title {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .benefits__block {
        gap: 10px;
    }
    .benefit {
        padding: 20px;
    }
}
@media screen and (max-width: 710px) {
    .sitemmap-item__name {
        font-size: 16px;
    }
}
@media screen and (max-width: 590px) {
    .sitemmap-item__name {
        font-size: 12px;
    }
    .benefits__block {
        grid-template-areas: "a"
                             "b"
                             "c"
                             "d";
    }
    .benefit__accent {
        margin-bottom: 5px;
    }
}
@media screen and (max-width: 460px) {
    .container {
        padding: 0 10px 10px;
    }
    .sitemap {
        row-gap: 10px;
    }
    .sitemap__row {
        gap: 10px;
    }
    .footer {
        margin: 0 10px;
    }
}
@media screen and (max-width: 380px) {
    .sitemap-item {
        padding: 15px;
    }
}